/* Global Properties */
@font-face {
    font-family: "myFont";
    src: url("Silkscreen-Regular.ttf");
}

@media only screen {
    body {
        background-color: rgb(255, 255, 255);
    }
}

* {
    font-size: 1vmin;
}

h1, h3 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;

    padding-top: 1cm;
    padding-bottom: 10mm;

    background-color: rgb(234, 29, 29);

    /* Text Characteristics*/
    color: #000000;   
    text-align: center;

    display:block;

    position: relative;
    left: 40px;    

    font-family: "myFont";
}


p {
    background-color: rgb(255, 255, 255);

    margin:auto;

    padding: .6em;

    border-style: solid;
    border-color: rebeccapurple;
    border-width: 10px;
    border-radius: 2vmax;

    /* Text */
    color: hsl(0, 100%, 0%); 
    text-decoration: underline;

    display: inline-block;

    min-width: 1vm;
    max-width: 10vm;

}

footer {
    position: static;
    bottom: 8vmin;
}

.favorite_styled:hover {
    color: blue;
}

.favorite_styled:active {
    color: red;
}

.container_f {
    margin:auto;

    border-style: solid;
    border-color: rebeccapurple;
    border-width: 10px;
    border-radius: 2vmax;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.child_f {
    display: flex;    
    justify-content: center;
}

.container_g {
    margin:auto;

    border-style: solid;
    border-color: rebeccapurple;
    border-width: 10px;
    border-radius: 2vmax;

    display: grid;
    grid-template-columns: 10px 20px 30px 40px;
    grid-template-rows: 10px 20px 30px 40px;        
}

.child_g1 {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}

.child_g2 {
    grid-column: 2 / 2;
    grid-row: 3 / 4;
}

.child_g3 {
    grid-area: 3/4/3/4;
}

#Alternative {
    font-family: "myFont";
}

a[href="mailto:p2luo@ucsd.edu"]{
    font-family: "myFont";
}

.warning strong {
    font-size: 2vmin;
}

main > h3 {
    color: #4b296f; 
}

.child_f + .child_f {
    color: #6616c2; 
}

.child_g1 ~ .child_g3 {
    color: #77c216;
}

span.TA {
    color: #77c216;
}